.container {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 0.2fr 1.8fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    'title legend'
    'field legend'
    'field legend';
  height: 900px;
  width: 100%;
}

#vis3-desc {
  font-size: 1rem;
  line-height: 1rem;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 24px;
  text-align: justify;
}

.fit-img-tight {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#outer {
  /* border: 2px solid;
  border-radius: 25px; */
}

.field {
  grid-area: field;
  width: 100%;
  height: 100%;
}

.title {
  grid-area: title;
  height: 30px;
  background-color: red;
}

.legend {
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: legend;
  height: auto;
}

.legendHeader {
  grid-area: legendHeader;
}

#salaryScale {
  height: 25%;
}
.infoHeader {
  display: block;
  margin: 0;
  font-size: 10px;
  padding: 0;
}

.players {
  height: 45%;
}

.piechart {
  height: 20%;
}

.shadow {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0));
}

/* This is for responsive container with specified aspect ratio */
.aspect-ratio {
  position: relative;
}

/* This is the key part - position and fit the image to the container */
.oversize {
  width: 98%;
  height: 98%;
}

.img-overlay-wrap {
  position: relative;
}

.img-overlay-wrap img {
  /* <= optional, for responsiveness */
  display: block;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}
