
<div id="start">
<div class="container" id="outer">
    <div id="field" class="field img-overlay-wrap">
        <img src="../../assets/soccerField.png" class = "oversize" >

    </div>
    <div class="legend">
      <div id="salaryScale">
      </div>
      <div class="players">
        <div id="GK_legend">
        </div>
        <div id="MF_legend">
        </div>
        <div id="FW_legend">
        </div>
        <div id="DF_legend">
        </div>
      </div>
        <div id="pie">
      </div>
    </div>
  </div>
</div>


<script src="./data-viz4.component.ts"></script>
