<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Équipe canadienne en Concacaf 2022</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>INF8808E – Visualisation de données</span>
  </div>

  <!-- Data viz 1 -->
  <h2>1. Visualisation sur les résultats des équipes de la Concacaf</h2>
  <p>Description</p>
  <app-data-viz1></app-data-viz1>

  <!-- Data viz 1 -->
  <h2>2. Visualisation sur les résultats des joueurs de la Concacaf</h2>
  <p>Description</p>
  <app-data-viz2></app-data-viz2>

  <!-- Data viz 1 -->
  <h2>3. Visualisation sur les performances des joueurs canadiens</h2>
  <p>Description</p>
  <app-data-viz3></app-data-viz3>

  <!-- Data viz 1 -->
  <h2>4. Visualisation sur la valeur au marché des joueurs canadiens</h2>
  <p>Description</p>
  <app-data-viz4></app-data-viz4>

  <!-- Footer -->
</div>
