.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: '\25BC';
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: '\25C0';
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: '\25B2';
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: '\25B6';
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.tooltip-value {
  font-size: small;
  color: white;
  font-weight: normal;
}

.tooltip-title {
  font-size: medium;
  color: white;
  font-weight: normal;
}

.tooltip-gls {
  color: #df3251;
  font-weight: bold;
}

.tooltip-ast {
  color: #5cbbf0;
  font-weight: bold;
}

.tooltip-mp {
  color: #8ae89f;
  font-weight: bold;
}

#vis3-desc {
  flex-wrap: wrap;
  font-size: 1rem;
  line-height: 1rem;
  width: 40%;
  margin-bottom: 7rem;
  margin-right: 2rem;
  text-align: justify;
}
#vis3-legend {
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

#vis3-legend-rect-ex text {
  font-size: 0.8rem;
}

#vis3-legend-divider {
  stroke: black;
  stroke-width: 1;
}

.vis3-grid {
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 2;
  opacity: 0.5;
}
